

<div class='footer'>
          <%# <%= link_to image_tag("carshop-bluecar",  size: '100x100', class:"logo-white"), "#" %> 

  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>(株)IMPROVE</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to '何か', "#", class: "footer-link" %></li>
        <li><%= link_to '何か', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>車両一覧</h2>
      <ul>
        <li><%= link_to '最新の車を見る', "#", class: "footer-link" %></li>
        <li><%= link_to 'メーカーで探す', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サイトについて</h2>
      <ul>
        <li><%= link_to 'ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© IMPROVE</p>
</div>