<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「IMPROVE」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      販売・買取も対応
    </h2>
    <p class='service-explain'>
      出張査定、出張納車も対応中
    </p>
    <p class='service-explain'>
      気軽にお電話　☎000-000-0000 お待ちしております
    </p>
  </div>
  <%# /画面上部の「IMPROVE」帯部分  %>



 

<%# 商品一覧 %>
    <div class='lists-left'>
      <%= link_to '最新の車を見る', "#", class: "new-list" %></li>
      <%= link_to 'メーカーで探す', "#", class: "brand-list" %></li>
    </div>
<div class='item-contents'>
  <div class='title'>販売車両一覧</div>
  <div class="subtitle">
      <%= image_tag 'carshop-blueline.png' , size: '6x15' ,class: "blueline-image" %>
    新規投稿商品
  </div>
  <ul class='item-lists'>
   <%# <% items = @items.first(4) %>  
    <%# <% items.each do |item| %> 
      <li class='list'>
        <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "carshop-harrier.jpg", class: "item-img" %>
            <%# 商品が売れていればsold outを表示しましょう %>
            <div class='sold-out'>
              <span>成約</span>
            </div>
            <%# //商品が売れていればsold outを表示しましょう %>
          </div>
          <div class='item-info'>
            <h3 class='car-name'>
              <%= "car_name "%>
            </h3>
            <div class='item-price'>
              <span><%= "car_price" %>円<br><%= 'grade' %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
              </div>
            </div>
          </div>
         <% end %> 
      </li>
    <%# <% end %> 
  </ul>
  <%# <% if @items.size > 4 %> 
    <div class='more-button'>
      <%= link_to 'もっと見る', root_path, class: 'more-link' %>
    </div>
  <%# <% end %> 
</div>
<%# /商品一覧 %>
</div>

<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>